{{- define "404" -}}{{ template "base" . }}{{- end }}
{{- define "content" }}
  <section class="article article-page">
    <p class="lede">404</p>
    <h1>{{ .Title }}</h1>
    <p>The page you're looking for doesn't exist or has moved.</p>
    <p><a href="{{ .HomeURL }}">Return home</a></p>
  </section>
{{- end }}
